html, body
{
    height: 100%;
}
.commonImage 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.commonLogo
{
    width: 160px;
}
.commonSectionSpacing
{
    padding: 32px 0;
}
.commonTextListing li 
{
    list-style-type: disclosure-closed;
    padding-bottom: 18px;
    font-size: 16px;
}
.commonSectionTitle 
{
    padding-left: 12px;
    font-weight: 700;
    margin-bottom: 18px;
}
.borderTitle
{
    border-bottom: 1px solid #cccccc;
    padding-bottom: 12px;
}
.commonContentVerticalCenter
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cardTitle 
{
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 12px;
}
.cardDescription 
{
    font-size: 14px;
    font-weight: 400;
    color: #212121;
}
.subCardTitle
{
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 8px;
    margin: 12px 0px;
}
.row 
{
    margin-left: 0px;
    margin-right: 0px;
}
