html, body
{
    height: 100%;
}
.commonImage 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.commonLogo
{
    width: 160px;
}
.commonSectionSpacing
{
    padding: 32px 0;
}
.commonTextListing li 
{
    list-style-type: disclosure-closed;
    padding-bottom: 18px;
    font-size: 16px;
}
.commonSectionTitle 
{
    padding-left: 12px;
    font-weight: 700;
    margin-bottom: 18px;
}
.borderTitle
{
    border-bottom: 1px solid #cccccc;
    padding-bottom: 12px;
}
.commonContentVerticalCenter
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cardTitle 
{
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 12px;
}
.cardDescription 
{
    font-size: 14px;
    font-weight: 400;
    color: #212121;
}
.subCardTitle
{
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 8px;
    margin: 12px 0px;
}
.row 
{
    margin-left: 0px;
    margin-right: 0px;
}
/*Carousel Css Starts Here*/
.heroSlider .carousel-caption {
    top: 38%;
    left: 10%;
    text-align: left;
}

.heroSlider .carousel-item {
    height: 520px;
}

.heroSlider .carousel-caption h1 {
    font-size: 28px;
    font-weight: 700;
}

.heroSlider .carousel-caption p {
    font-size: 18px;
    font-weight: 500;
    color: #f1f1f1;
}

/*Carousel Css Ends Here*/
/*Navbar Css Starts Here*/
.commonNavbar {
    background-color: #ebebeb;
}

.commonNavbar .navbar-collapse {
    flex-grow: 0;
}

.commonNavbar li.nav-item {
    padding: 0px 18px;
}

    .commonNavbar li.nav-item a {
        color: #212121;
        font-weight: 500;
        text-decoration: none;
    }

/*Navbar Css Ends Here*/

/*Home Page Css Starts Here*/
.keyFeatures .card
{
    margin-bottom: 24px;
    border: 1px solid #eeeeee;
    padding: 24px;
    height: auto;
    min-height: 280px;
}    
.keyFeatures .card:hover
{
    -webkit-box-shadow: 0px 3px 12px 0px rgb(121 112 112 / 17%);
    -moz-box-shadow: 0px 3px 12px 0px rgb(121 112 112 / 17%);
    box-shadow: 0px 3px 12px 0px rgb(121 112 112 / 17%);
    background-color: #3498db0d;
} 
.keyFeatures .cardIcon
{
    font-size: 23px;
    color: #cbcbcb;
    border: 1px solid #cbcbcb;
    padding: 16px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}
/*Home Page Css Ends Here*/

/*About Team Css Starts Here*/
.teamMemberInfo .cardImage {
    height: 250px;
    margin-bottom: 16px;
}

.teamMemberInfo .cardImage img {
    border-radius: 12px;
}

.teamMemberInfo .cardDescription {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
}

.profilePhoto {
    width: 120px;
    height: 120px;
    margin-bottom: 16px;
}

    .profilePhoto img {
        border-radius: 50%;
    }

.githubLinkBox {
    background-color: #f4f4f4;
    padding: 24px;
    border-radius: 8px;
    text-align: center;
}

.githubLink .card {
    padding: 16px;
    margin-bottom: 24px;
}

    .githubLink .card img {
        border-radius: 12px;
    }

.githubLink .card-title {
    font-size: 24px;
    font-weight: 500;
}

.githubLinkBox a {
    word-break: break-word;
}

/*About Team Css Ends Here*/
/*Footer Css Starts Here*/
.commonFooter {
    padding: 16px 24px;
    background-color: #f4f4f4;
}

.copyRight {
    font-size: 13px;
    color: #757575;
    font-weight: 500;
    margin: 0px;
    padding: 16px 0px;
    border-top: 1px solid #dfdfdf;
}

.footerTop {
    padding: 16px 0px;
}

.foterListItem {
    float: left;
    padding-right: 32px;
    list-style-type: none;
}

    .foterListItem a {
        font-size: 16px;
        text-decoration: none;
        color: #212121;
        font-weight: 600;
    }

/*Footer Css Ends Here*/


/*Form Page Css Starts Here*/
.formPage
{
    max-width:860px;
    margin:32px auto;
}
.commonInput .form-label 
{
    font-size: 14px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 4px;
}
.commonInput .form-control
.commonInput .form-select
{
    color: #212121;
    font-weight: 500;
}
/*Form Page Css Ends Here*/


/*Common Card Css Starts Here*/
.commonCard 
{
    border: 1px solid #eeeeee;
    -webkit-box-shadow: 0px 3px 12px 0px rgb(121 112 112 / 17%);
    -moz-box-shadow: 0px 3px 12px 0px rgb(121 112 112 / 17%);
    box-shadow: 0px 3px 12px 0px rgb(121 112 112 / 17%);
}
/*Common Card Css Ends Here*/
/*Table Css Starts Here*/
#commonDataTable 
{
    border: 1px solid #e3e3e3;
    -webkit-box-shadow: 0px 3px 12px 0px rgb(121 112 112 / 17%);
    -moz-box-shadow: 0px 3px 12px 0px rgb(121 112 112 / 17%);
    box-shadow: 0px 3px 12px 0px rgb(121 112 112 / 17%);
}
#commonDataTable thead 
{
    background-color:#f4f4f4;
}
.dataTables_length 
{
    float: left;
    margin-bottom: 24px;
    margin-top: 12px;
	
}
.dataTables_length select
{
    border-radius:24px;
}
.dataTables_filter 
{
    display: flex;
    justify-content: end;
    padding-top: 12px;
}
.dataTables_filter input
{
    border-radius: 24px;
    border: 1px solid #757575;
    padding: 4px 12px;
    width: 260px !important;
}
.dataTables_filter input:focus-visible
{
    outline: none;
}
.dataTables_info 
{
    float: left;
    font-size: 13px;
    color: #757575;
}
.dataTables_paginate
{
    padding-top:12px;
}
/*Data Table Pagenation Css Starts Here*/
.paginate_button
{
    cursor: pointer;
    padding: 16px;
    text-decoration: none;
    color: #757575;
    font-size: 12px;
}
.paginate_button.current 
{
    padding: 6px;
    margin: 0px 18px;
    background-color: #0d6efd;
    color: #ffffff;
    text-decoration: none;
    border-radius: 14px;
}
.paginate_button.previous,
.paginate_button.next
{
    font-size: 16px;
    font-weight: 600;
}
/*Data Table Pagenation Css Ends Here*/
/*Table Css Ends Here*/
/*Graph Part Css Starts Here*/
.graphPart .card-body {
    height: 560px;
}

.graphPart .card-body .commonImage {
    object-fit: contain;
}

.graphPart .card-body canvas {
    height: 520px !important;
    width: auto !important;
    margin: 0 auto;
}

/*Graph Part Css Ends Here*/
/*Toaster Message Css Starts Here*/
.commonToaster {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9;
}

.commonToaster .toast-header {
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
}

.commonToaster .toast-body {
    font-weight: 600;
    font-size: 20px;
    color: #212121;
    padding: 32px 12px;
    text-align: center;
}

.commonToaster.toasterSucess .toast-header {
    background-color: #1abc9c;
}

.commonToaster.toasterDeleted .toast-header {
    background-color: #e74c3c;
}

.commonToaster.toasterUpdated .toast-header {
    background-color: #3498db;
}

/*Toaster Message Css Ends Here*/