################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
*.sqlite
*.wsuo
*.vsidx
/.vs/Assignment_LookAndFeel/config/applicationhost.config
/.vs/DISproject/config/applicationhost.config
/.vs/pilot/config
